/* Centered text inside container*/

:root { 
    --primary-color: #2cc7cdfe ;
    /* Hardcoded red */
    --secondary-color: #ffffff;
    /* Hardcoded white */
     --ffamily: "monserat", Arial, Helvetica, sans-serif;
    /* Hardcoded font family */
	--backgrd-color: black;
	/* Hardcoded background color */
}
.centered-logo {
	position: absolute;
	top: -3%;
	left: 19%;
	padding: 10px;
	font-size: 50px;
	font-family: Montserrat, sans-serif;
	transform: translate(-50%, -40%);
	/*background-color: rgba(0, 0, 0, 0.23);*/
	transform: rotate(-24deg);
	display: inline-flex;
    z-index: 1000;
	
}